<div  fxLayoutAlign="center center">
  <mat-card style="width: 20%;" >
    <form [formGroup]="formGroup"   fxLayout="column" style="margin-top: 50px; ">
      
        <mat-form-field appearance="fill" style="width: 70%; margin-left: 16%;" >
          <mat-label>Ingrese el usuario</mat-label>
          <input matInput type="text" formControlName="usuario">
          <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 70%;margin-left: 16%;">
            <mat-label>Contraseña</mat-label>
            <input matInput formControlName="contrasena" [type]="mostrarPassword ? 'text' : 'password'" placeholder="Ingrese su contraseña">
            <button mat-icon-button matSuffix (click)="mostrarPassword = !mostrarPassword">
              <mat-icon>{{ mostrarPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
          <mat-error></mat-error>
        </mat-form-field>
        <div  fxLayoutAlign="center center" >
            <button mat-raised-button color="primary" (click)="ingresar()"><div><h3 fxFlex style="margin-top: 6%;">Ingresar</h3><mat-icon style="margin-top: 9%;">login</mat-icon></div></button>
        </div>
     
      </form>
    </mat-card>
</div>